@(message: String, title: String, address: String)

@main("OOCSI development and testing") {
<link rel="stylesheet" media="screen,projection" type="text/css" href="@routes.Assets.versioned("css/jotted.min.css")"/>
<script src="@routes.Assets.versioned("js/jotted.min.js")" type="text/javascript"></script>

<style type="text/css">
	
	.card .card-content > div {
		height: 3em;
		color: #444;
	}

	a:hover i.material-icons {
		position: relative;
		top: -1px;
	}

</style>

@elements.navigation("tools")

<div class="container">

	<div class="row">
		<div class="col s12">
			<h3>Tools</h3>
			<p>
				Our OOCSI tools allow for very simple prototyping steps in situations when you want to control a few properties remotely, without going into complex development. Pure networked prototyping bliss, it is.
			</p>
		</div>

		<div class="col s12 m4">
			<a href="@routes.Tools.mote">
				<div class="card blue lighten-5">
					<div class="card-content">
						<span class="card-title">OOCSImote</span>
						<div>
							Control anything remotely with OOCSI. Also from mobile. Bzzzzz... it's OOCSImote for you.
						</div>
					</div>
					<div class="card-action right-align">
						<i class="material-icons">arrow_forward</i>
					</div>
				</div>
			</a>
		</div>

		<div class="col s12 m4">
			<a href="@routes.Tools.animate">
				<div class="card blue lighten-5">
					<div class="card-content">
						<span class="card-title">animOOCSI</span>
						<div>
							Simple tool to animate stuff over the OOCSI network. Beware, it's loopin' 🎢
						</div>
					</div>
					<div class="card-action right-align">
						<i class="material-icons">arrow_forward</i>
					</div>
				</div>
			</a>
		</div>

		<div class="col s12 m4">
			<a href="@routes.Tools.dashboard">
				<div class="card blue lighten-5">
					<div class="card-content">
						<span class="card-title">Dashboard</span>
						<div>
							Simple data visualisation for data coming over the OOCSI network. Any channel, any data item. Your choice.
						</div>
					</div>
					<div class="card-action right-align">
						<i class="material-icons">arrow_forward</i>
					</div>
				</div>
			</a>
		</div>

	</div>

	<div class="row">
		<div class="col s12">
			<h3>Testing</h3>
			<p>
				When you are designing or implementing things with OOCSI, you want to try things out. Or you just ant to see if the system still works as expected. We made three testing pages that you can use to trythings out.
			</p>
		</div>
	
		<div class="col s12 m4">
			<a href="@routes.Tools.testJotted()">
				<div class="card blue lighten-5">
					<div class="card-content">
						<span class="card-title">Live code editor</span>
						<div>
							Test OOCSI with code in a live editor.
						</div>
					</div>
					<div class="card-action right-align">
						<i class="material-icons">arrow_forward</i>
					</div>
				</div>
			</a>
		</div>

		<div class="col s12 m4">
			<a href="@routes.Tools.testVisual()">
				<div class="card blue lighten-5">
					<div class="card-content">
						<span class="card-title">UI client</span>
						<div>
							Send and receive OOCSI messages with a web UI client.
						</div>
					</div>
					<div class="card-action right-align">
						<i class="material-icons">arrow_forward</i>
					</div>
				</div>
			</a>
		</div>

		<div class="col s12 m4">
			<a href="@routes.Tools.testRaw()">
				<div class="card blue lighten-5">
					<div class="card-content">
						<span class="card-title">Test with developer console</span>
						<div>
							Test OOCSI with your browser development console.
						</div>
					</div>
					<div class="card-action right-align">
						<i class="material-icons">arrow_forward</i>
					</div>
				</div>
			</a>
		</div>

	</div>		
</div>
}