@(secure: Boolean) 

@tutorial("Tutorial") { 

	  <nav>
	    <div class="nav-wrapper black grey-text">
	      <a href="/" class="brand-logo" style="padding: 0 1em">OOCSI Tutorial</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
			<!-- <li><a href="/tutorials">Back to Overview <i class="material-icons right">save</i></a></li> -->
	      </ul>
	    </div>
	  </nav>
  
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h3>OOCSI Tutorials</h3>

				<p>
					Welcome to the OOCSI tutorials. This is the place to try your first steps and connect with OOCSI.
				</p>
			</div>
		</div>
	</div>

}