@(message: String, title: String, address: String, clients: String, channels: String) 

@main("Welcome to OOCSI") {

	<script src="@routes.Assets.versioned("js/d3.v4.min.js")" type="text/javascript"></script>

	<style>
		.links line {
			stroke: #999;
			stroke-opacity: 0.6;
		}
		.nodes circle {
			stroke: #fff;
			stroke-width: 1.5px;
		}
		text {
			font-family: sans-serif;
			font-size: 10px;
		}
	</style>

	@elements.navigation("")
  
	<div class="container">
		<div class="row" style="margin-top: 1em">
			<div class="col s12">
				<h3>Welcome to OOCSI</h3>
			</div>
		</div>
		<div class="row">
			<div class="col m6 s12">
				<p>
					<b>
						What it is
					</b>
				</p>
				<p>
					A prototyping middleware for design education and research designed and developed at the Industrial Design department of Eindhoven University of Technology. OOCSI is completely open-source and published under a permissive license. Consider contributing on <a href="https://github.com/iddi/oocsi">GitHub</a>.
				</p>

				<hr>

				<p>
					<b>
						How to learn more?
					</b>
				</p>	
				<p>
					We are currently preparing some more information material about OOCSI and a series of short video lectures. In the meanwhile, you can read more about OOCSI on the <a href="https://github.com/iddi/oocsi/wiki">wiki</a>.
				</p>

				<hr>

				<!-- WHATS GOING ON NOW -->

				<p>
					<b>
						What is going on right now
					</b>
				</p>
				<p>
					An OOCSI server can be busy at times; currently, this is happening:
					<br>
					<i><span id="livemetrics">loading...</span></i>
					<br>
					More <a href="/metrics">metrics.</a>
				</p>
				<p>
					@if(clients.length() > 0) {
						The following <em>clients</em> are currently connected (refresh page to update):
						<code class="blue-text">							
							@clients.replace(",", ", ")
						</code>
					} else {
						no clients are currently connected
					}
				</p>
				<p>
					@if(channels.length() > 0) {
						The following <em>channels</em> are currently open (refresh page to update):
						<code class="blue-text">							
							@channels.replace(",", ", ")
						</code>
					} else {
						no open channels at the moment
					}
				</p>

				<svg width="100%" height="500"></svg>
				<br>
				<a href="/network">bigger version</a>

			</div>
			<div class="col m5 offset-m1 s12">

				<div class="col s12 card" style="padding: 1rem;">
					<b>IMPORTANT NOTE</b>
					<br>
					This is a public server that allows open connectivity.
					Please use it responsibly and be aware that all data is in principle visible to all other users.
					Do NOT send confidential, personal or secret information. Fair use applies.
					<br><br>
					The server will not store any information.
					Log files may contain OOCSI-specific connection meta-data, but no personally identifiable information such as IP addresses, email addresses etc.  
				</div>

				<!-- WHAT YOU CAN DO -->

				<p>
					<b>
						What you can do here (on this server)
					</b>
					<ul>
						<li>
							- Build and test prototypes that need	connectivity
						</li>
						<li>
							- Test and evaluate OOCSI for your use-case
						</li>
						<li>
							- Try some examples
						</li>
					</ul>
					<p>How to do that? Check out the connection options below.</p>
				</p>

				<hr>			

				<!-- HOW TO CONNECT -->

				<p>
					<b>
						How to connect
					</b>
				</p>
				<p>
					OOCSI can be used by many different platforms and has libraries or bindings for different programming languages. See below for some options:
				</p>
				<ul class="collapsible">
					<li>
						<div class="collapsible-header">Processing</div>
						<div class="collapsible-body" style="padding: 1rem;">
								Connect to this server:
								<blockquote>
									OOCSI myOocsi = new OOCSI(this, "my_unique_handle", "ADDRESS");
								</blockquote>
								More information: <a href="https://github.com/iddi/oocsi-processing" target="_blank">setup & use</a>.
						</div>
					</li>
					<li>
						<div class="collapsible-header">Java/Android</div>
						<div class="collapsible-body" style="padding: 1rem;">
								Connect to this server:
								<blockquote>
									OOCSICommunicator oc = new OOCSICommunicator(this, "my_unique_handle");
									oc.setReconnect(true);
									oc.connect("ADDRESS", 4444);
								</blockquote>
								More information: <a href="https://github.com/iddi/oocsi#oocsi-client" target="_blank">setup & use</a>.
						</div>
					</li>
					<li>
						<div class="collapsible-header">Python</div>
						<div class="collapsible-body" style="padding: 1rem;">
								Connect to this server:
								<blockquote>
									oocsi = OOCSI('my_unique_handle', 'ADDRESS')
								</blockquote>
								More information: <a href="https://github.com/iddi/oocsi-python" target="_blank">setup & use</a>.
						</div>
					</li>
					<li>
						<div class="collapsible-header">REST</div>
						<div class="collapsible-body" style="padding: 1rem;">
								Send message to a channel on this server:
								<blockquote>
									curl -X POST http://ADDRESS/send/testchannel -d "sender=myhandle&amp;param1=1.6&amp;param2=text"
								</blockquote>
						</div>
					</li>
					<li>
						<div class="collapsible-header">Websocket (Javascript)</div>
						<div class="collapsible-body" style="padding: 1rem;">
								Connect to this server:
								<blockquote>
									OOCSI.connect('my_unique_handle', 'ADDRESS')
								</blockquote>
								More information: <a href="https://github.com/iddi/oocsi-websocket" target="_blank">setup & use</a>.
						</div>
					</li>
					<li>
						<div class="collapsible-header">Arduino / ESP (C/C++)</div>
						<div class="collapsible-body" style="padding: 1rem;">
								Connect to this server:
								<blockquote>
									OOCSI oocsi = OOCSI();
									oocsi.connect(OOCSIName, hostserver, ssid, password, processOOCSI);
								</blockquote>
								More information: <a href="https://github.com/iddi/oocsi-esp" target="_blank">setup & use</a>.
						</div>
					</li>
				</ul>
				<p>
					With these different languages OOCSI can be accessed on most popular platforms on desktop (Windows, Mac, Linux), mobile (iOS, Android) and embedded (Raspberry Pi, ESP, ...).
				</p>
			</div>
		</div>
	</div>
	

	<script type="text/javascript">

	   	$(document).ready(function(){

	   		$('blockquote').each(function() {
	   			$(this).html($(this).html().replace("ADDRESS", window.location.hostname));
	   		});

			// connect to OOCSI server
			OOCSI.connect((window.location.protocol === 'https:' ? 'wss://' : 'ws://') + window.location.host + '/ws');

			OOCSI.subscribe("OOCSI_metrics", function(e) {
				$("#livemetrics")
					.html(
						"Clients: " + e.data.clients + 
						", Channels: " + e.data.channels + 
						", Messages: " + e.data.messagesTotal + 
						", Messages/sec: " + e.data.messages);
			});

  		});
        	
	</script>

	<script>

		// mostly stolen from: https://bl.ocks.org/heybignick/3faf257bbbbc7743bb72310d03b86ee8

		var svg = d3.select("svg");
		var width = $('svg').width();
		var height = +svg.attr("height");
		$('svg').css("border", "1px #ddd solid")

		var color = d3.scaleOrdinal(d3.schemeCategory20);

		var simulation = d3.forceSimulation()
		    .force("link", d3.forceLink().id(function(d) { return d.id; }).distance(height/5).strength(0.2))
		    .force("charge", d3.forceManyBody())
		    .force("center", d3.forceCenter(width / 2, height / 2));

		d3.json("network.json", function(error, graph) {
		  if (error) throw error;

		  var link = svg.append("g")
		      .attr("class", "links")
		    .selectAll("line")
		    .data(graph.links)
		    .enter().append("line")
		      .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

		  var node = svg.append("g")
		      .attr("class", "nodes")
		    .selectAll("g")
		    .data(graph.nodes)
		    .enter().append("g")
		    
		  var circles = node.append("circle")
		      .attr("r", 5)
		      .attr("fill", function(d) { return color(d.group); })
		      .call(d3.drag()
		          .on("start", dragstarted)
		          .on("drag", dragged)
		          .on("end", dragended));

		  var labels = node.append("text")
		      .text(function(d) {
		        return d.id;
		      })
		      .attr('x', 6)
		      .attr('y', 3);

		  node.append("title")
		      .text(function(d) { return d.id; });

		  simulation
		      .nodes(graph.nodes)
		      .on("tick", ticked);

		  simulation.force("link")
		      .links(graph.links);

		  function ticked() {
		    link
		        .attr("x1", function(d) { return d.source.x; })
		        .attr("y1", function(d) { return d.source.y; })
		        .attr("x2", function(d) { return d.target.x; })
		        .attr("y2", function(d) { return d.target.y; });

		    node
		        .attr("transform", function(d) {
		          return "translate(" + d.x + "," + d.y + ")";
		        })
		  }
		});

		function dragstarted(d) {
		  if (!d3.event.active) simulation.alphaTarget(0.8).restart();
		  d.fx = d.x;
		  d.fy = d.y;
		}

		function dragged(d) {
		  d.fx = d3.event.x;
		  d.fy = d3.event.y;
		}

		function dragended(d) {
		  if (!d3.event.active) simulation.alphaTarget(0);
		  d.fx = null;
		  d.fy = null;
		}

	</script>
}